<div class="contaiter">
  <div class="grid grid-cols-2 gap-24 mt-8">
    <div class="col-span-1">
      <div class="image-funiture">
        <img
          [src]="detailProduct.dataDetail.value.image"
          alt=""
        />
      </div>
    </div>
    <div class="col-span-1">
      <div class=" mt-2">
        <h1 style="font-size: 36px; font-weight: 500">{{detailProduct.dataDetail.value.product?.productName}}</h1>
        <p class="text-3xl font-normal font-sans">{{detailProduct.dataDetail.value.product?.description}}</p>
        <p class="mt-4 price-custom">
          <span class="price-cancel">
            {{detailProduct.dataDetail.value.product?.price + (detailProduct.dataDetail.value.product?.price * 0.3) | currency: "VND": "symbol"}}<span class="unit-money">đ</span>
          </span>
          {{detailProduct.dataDetail.value.product?.price}}<span class="unit-money">đ</span>
        </p>
      </div>
      <div class="action"  style="display: flex">
        <div style="display: flex">
            <span nz-icon nzType="minus" nzTheme="outline" class="mr-2 btn-quantity-minus" style="font-size: 35px" (click)="minus()"></span>
            <input type="text" class="input-quantity" [(ngModel)]="quantity">
            <span nz-icon nzType="plus" nzTheme="outline" class="mr-2 btn-quantity-plus" style="font-size: 35px" (click)="plus()"> </span>
        </div>
        <button (click)="addToCard(detailProduct.dataDetail.value)" class="col-span-2 btn-submit">Thêm vào giỏ hàng</button>
      </div>
      <div class="border-bottom-common pb-4 pt-4">
        <ul class="leading-8">
          <li>
            <span class="font-medium text-xl">Giá vận chuyển: </span>
            <span class="text-xl">Miễn phí giao hàng với đơn hàng trên 1.000.000Đ.</span
            >
          </li>
          <li>
            <span class="font-medium text-xl">Thời gian vận chuyển: </span>
            <span class="text-xl">Từ 3-5 ngày.
            </span>
          </li>
        </ul>
      </div>
      <div class="border-bottom-common pb-4 pt-4">
        <a href="">VIEW PRODUCT INFORMATION</a>
      </div>
      <div class="border-bottom-common pb-4 pt-4">
        <nz-collapse  class="product-similar" nzGhost [nzBordered]="false" nzExpandIconPosition="right">
          <nz-collapse-panel #p [nzHeader]="product" [nzExpandedIcon]="expandedIcon">
            <ul role="list" class="grid grid-cols-2">
              <ng-container *ngFor="let item of listProductSimilar">
                <li class="col-span-1 marker:text-black list-disc space-y-3 text-black">
                  {{ item.name }}
                </li>
              </ng-container>
            </ul>

            <ng-template #expandedIcon let-active>
              {{ active }}
              <span
                nz-icon
                [nzType]="p.nzActive ? 'minus' : 'plus'"
                [nzRotate]="p.nzActive ? 180 : -90"
                class="ant-collapse-arrow"
              ></span>
            </ng-template>
            <ng-template #product>
              <span class="title-lg font-semibold"
                >DISCOVER SIMILAR PRODUCTS</span
              >
            </ng-template>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
  </div>
</div>
