<div class="container m-auto">
  <div class="wrap">
    <div class="col-span-1 leading-9">
      <ng-container *ngFor="let item of dataCol1">
        <div class="logo cursor-pointer" nz-col nzSpan="6" >
          <img style="width: 160px; border-radius: 25px;" class="mb-7" src="/assets/images/logo/HNT_Sport_Logo.png" alt="" srcset=""/>
        </div>
        <p
          *ngFor="let item of item.content"
          class="title font-medium hover:text-teal-700 hover:underline cursor-pointer"
        >
          {{ item.label | uppercase }}
        </p>
      </ng-container>
    </div>
    <div class="col-span-1 leading-9">
      <ng-container *ngFor="let item of dataCol2">
        <h2 class="font-bold text-sm font-30 mb-7" >
          {{ item.title | uppercase }}
        </h2>
        <p
          *ngFor="let item of item.content" [routerLink]="item.routerLink"
          class="title font-medium hover:text-teal-700 hover:underline cursor-pointer"
        >
          {{ item.label | uppercase }}
        </p>
      </ng-container>
    </div>
    <div class="col-span-1">
      <div class="email mt-12">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="Enter your email address"  style="height: 40px"/>
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="mail" nzTheme="outline"></span>
        </ng-template>
      </div>
      <div class="social mt-4">
        <ng-container *ngFor="let item of listSocial">
          <span
            nz-icon
            [nzType]="item.type"
            nzTheme="outline"
            class="mr-3 text-2xl cursor-pointer"
          ></span>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="info py-3">
      <div class="text-center">
        <span class="title">© 2022-2023 HNTSPORT · Viet Nam, VN</span>
      </div>
  </div>
</div>
