<div class="container m-auto">
  <div class="wrap">
    <div class="col-span-1 leading-9">
      <ng-container *ngFor="let item of dataCol1">
        <h2 class="font-bold text-sm">
          {{ item.title }}
        </h2>
        <p
          *ngFor="let item of item.content"
          class="title font-medium hover:text-teal-700 hover:underline cursor-pointer"
        >
          {{ item.label | uppercase }}
        </p>
      </ng-container>
    </div>
    <div class="col-span-1 leading-9">
      <ng-container *ngFor="let item of dataCol2">
        <h2 class="font-bold text-sm">
          {{ item.title }}
        </h2>
        <p
          *ngFor="let item of item.content"
          class="title font-medium hover:text-teal-700 hover:underline cursor-pointer"
        >
          {{ item.label | uppercase }}
        </p>
      </ng-container>
    </div>
    <div class="col-span-1">
<!--      <h2 class="font-bold text-sm pb-5">TRADE PROGRAM</h2>-->
<!--      <span-->
<!--        >Join our <a>Trade Program</a> for access to trade pricing and-->
<!--        benefits.</span-->
<!--      >-->
<!--      <ng-container *ngFor="let item of dataCol3">-->
<!--        <h2 class="font-bold text-sm pb-5 pt-5">-->
<!--          {{ item.title }}-->
<!--        </h2>-->
<!--        <span>{{ item.content }}</span>-->
<!--      </ng-container>-->
      <div class="email mt-12">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="Enter your email address" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="mail" nzTheme="outline"></span>
        </ng-template>
      </div>
      <div class="social mt-4">
        <ng-container *ngFor="let item of listSocial">
          <span
            nz-icon
            [nzType]="item.type"
            nzTheme="outline"
            class="mr-3 text-2xl cursor-pointer"
          ></span>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="info py-3">
      <div class="text-center">
        <span class="title">© 2022-2023 HNTSPORT · Viet Nam, VN</span>
      </div>
  </div>
</div>
