<div class="container">
  <div class="logo cursor-pointer" nz-col nzSpan="6" >
    <img style="padding-left: 300px; border-radius: 25px;" src="/assets/images/logo/HNT_Sport_Logo.png" alt="" srcset=""/>
  </div>
  <div class="text">
    Chúng tôi tôn trọng và cam kết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Khi sử dụng trang web, bạn được xem như đã đồng ý với Chính sách bảo mật của chúng tôi, như được nêu bên dưới. Xin vui lòng đọc bản Chính sách bảo mật dưới đây để hiểu hơn những cam kết được chúng tôi thực hiện để bảo vệ quyền lợi của người truy cập. Chúng tôi bảo lưu quyền sửa đổi Chính sách bảo mật của mình bất kỳ lúc nào mà không cần thông báo.
  </div>
  <div class="context">
    1.Thu thập thông tin
  </div>
  <div class="text">
    Chúng tôi thu thập thông tin khi bạn đăng ký trên website của chúng tôi, đăng nhập vào tài khoản, mua sắm, tham dự giải đấu hoặc khi đăng xuất. Các thông tin thu thập bao gồm tên, địa chỉ email, số điện thoại, chúng tôi hoàn toàn không thu thập thông tin về thẻ tín dụng / thẻ ghi nợ, tài khoản thanh toán.
    Ngoài ra, chúng tôi sẽ tự động thu nhận và lưu trữ các thông tin máy tính và trình duyệt bao gồm địa chỉ IP, các thuộc tính phần mềm và phần cứng, và trang mà bạn yêu cầu xem.
  </div>
  <div class="context">
    2. Mục đích & Phạm vi sử dụng thông tin
  </div>
  <div class="text">
    <strong>“Thông tin cá nhân” </strong> trong chính sách này nghĩa là thông tin nhận diện hoặc có khả năng nhận diện danh tính cá nhân của khách hàng. Để mang đến cho bạn trải nghiệm mua sắm tốt nhất trên trang website của chúng tôi, những loại Thông tin cá nhân mà chúng tôi thu thập (có thể khác nhau theo phạm vi quyền hạn dựa trên luật pháp hiện hành) bao gồm:
  </div>
  <div>
    <ul style="list-style: disc!important; padding-left: 60px; padding-top: 30px">
      <li>Họ tên, Số CMND hoặc hộ chiếu, Ngày sinh, Giới tính, Chi tiết liên hệ tại nhà riêng và nơi làm việc, Địa chỉ giao hàng, Địa chỉ email, Số điện thoại cố định, Số điện thoại di động.</li>
    </ul>
  </div>
  <div class="font-bold" style="font-size: 21px">
    Với mục đích:
  </div>
  <ul style="list-style: disc; padding-left: 60px; padding-top: 20px">
    <li class="text">Căn cứ vào thông tin để xác thực và thoàn thành đơn và giao hàng</li>
    <li class="text">Đáp ứng riêng theo sở thích riêng cũng như kinh nghiệm của bạn</li>
    <li class="text">Cung cấp các nội dung quảng cáo phù hợp</li>
    <li class="text">Cải thiện trang web của chúng tôi</li>
    <li class="text">Cải thiện dịch vụ khách hàng cũng như các yêu cầu trợ giúp từ khách hàng</li>
    <li class="text">Liên hệ với bạn qua email</li>
    <li class="text">Quản lý khuyến mãi hay khảo sát lấy ý kiến người dùng</li>
  </ul>
  <div class="text">=> Chúng tôi sử dụng thông tin này để cá nhân hóa trải nghiệm mua sắm của bạn và cung cấp cho bạn nhiều hơn những gì bạn muốn. Bạn có thể chắc chắn rằng dữ liệu quan trọng của bạn như thông tin chi tiết cá nhân (tên, địa chỉ) được chuyển qua công nghệ Lớp cổng bảo mật (SSL) sẽ không được truy cập bởi bên thứ ba không xác định mà không được cho phép trong khi đang thực hiện các giao dịch trên trang web.</div>
  <div class="context">3. Thời gian lưu trữ thông tin</div>
  <div class="text">Chúng tôi sẽ lưu trữ các thông tin do khách hàng cung cấp trên các hệ thống nội bộ của chúng tôi trong quá trình cung cấp dịch vụ cho khách hàng hoặc cho đến khi hoàn thành mục đích thu thập hoặc khi khách hàng có yêu cầu hủy các thông tin đã cung cấp.</div>
  <div class="context">4. Chính sách thương mại điện tử & Thông cáo bên thứ 3</div>
  <div class="text">Chúng tôi là người sở hữu duy nhất các thông tin được thu thập trên website này. Các thông tin cá nhân của bạn sẽ không được bán, trao đổi cho một bên thứ 3 nào nếu không có sự đồng ý từ người dùng ngoại trừ mục đích là thực hiện các yêu cầu, chuyển khoản thanh toán hoặc vận chuyển đơn hàng.</div>
  <br>
  <div class="text">Chúng tôi không bán, giao thương hoặc chuyển đổi các thông tin cá nhân cho bên ngoài. Điều này không bao gồm các bên thứ 3 đáng tin cậy hỗ trợ chúng tôi vận hành trang web hoặc dịch vụ của chúng tôi khi mà các đối tác này cũng cam kết bảo mật các thông tin này.</div>
  <br>
  <div class="text">Chúng tôi tin rằng việc chia sẻ thông tin là cần thiết trong các trường hợp để điều tra, ngăn chặn hoặc thực thi các biện pháp chống lại các hoạt động phạm pháp, gian lận đáng ngờ hoặc các tình huống có thể dẫn tới các nguy hiểm cho người dùng, các hành động vi phạm điều khoản sử dụng hay được yêu cầu bởi pháp luật.</div>
  <div class="context">5. Bảo mật thông tin</div>
  <div class="text">Chúng tôi ứng dụng nhiều biện pháp để bảo mật dữ liệu cá nhân người dùng. Cụ thể, chúng tôi sử dụng thuật toán mã hóa cao cấp để bảo mật các giao dịch trực tuyến đòi hỏi sự bảo vệ cao. SSL giao thức bảo vệ dữ liệu người dùng. Chỉ những nhân viên ở những vị trí riêng (ví dụ như thanh toán hoặc dịch vụ) mới được quyền truy cập các thông tin cá nhân. Máy tính/các máy chủ dùng để lưu trữ các thông tin cá nhân đều được đặt ở môi trường bảo mật.</div>
  <div class="context">6. Thay đổi thông tin cung cấp & huỷ nhận thư</div>
  <div class="text">Mọi thông tin cá nhân trong trường hợp không đăng ký tài khoản website, người dùng không thể trực tiếp chỉnh sửa, người dùng chỉ có thể thay đổi/cập nhật thông tin khi đăng ký thành viên website trước đó.</div>
  <div class="text">(Để khiếu nại về thông tin cá nhân, người dùng muốn hỗ trợ chỉnh sửa/xoá thông tin cá nhân vui lòng liên hệ HNT Sport tại 240 Tân Mai, Hoàng Mai, Hà Nội – ĐT: 0356820031)</div>
  <div class="context">7.Đồng ý</div>
  <div class="text">Bằng cách sử dụng trang web của chúng tôi, bạn đã đồng ý với chính sách riêng tư của chúng tôi. được điều chỉnh phù hợp theo pháp luật của nước CHXHCN Việt Nam</div>
  <div style="padding-top: 20px; font-weight: 500"> Công khai ngày: 30/06/2023</div>

</div>
