<div class="container m-auto">
  <div class="header">
    <app-header></app-header>
  </div>
</div>
<div class="type-furniture text-center">
  <div class="container m-auto">
    <app-type-furniture></app-type-furniture>
  </div>
</div>
<div class="container m-auto mt-5 mb-5">
    <router-outlet></router-outlet>
</div>
<div class="delevery container">
  <div class="col-span-1">
    <img
      class="m-auto"
      src="https://cdn.shopify.com/s/files/1/0265/0083/files/cash_800c0c5c-a721-44cb-8c87-e44408e89670_40x.png?v=1617154692"
      alt=""
    />
    <span class="mt-4 block">ĐẢM BẢO GIÁ SẢN PHẨM 100%</span>
  </div>
  <div class="col-span-1">
    <img
      class="m-auto"
      src="https://cdn.shopify.com/s/files/1/0265/0083/files/refund_9e73b429-e588-48f6-ade0-a1c31b160844_40x.png?v=1617154704"
      alt=""
    />
    <span class="mt-4 block">MIỄN PHÍ GIAO HÀNG VỚI ĐƠN HÀNG TRÊN 1.000.000Đ</span>
  </div>
  <div class="col-span-1">
    <img
      class="m-auto"
      src="https://cdn.shopify.com/s/files/1/0265/0083/files/shipping_40x.png?v=1617154609"
      alt=""
    />
    <span class="mt-4 block">THỜI GIAN VẬN CHUYỂN TỪ 3-5 NGÀY</span>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
