<div class="container flex">
  <div class="pr-9 pt-9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1659.4408827096104!2d105.84903628654112!3d20.979851148582753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac40e76ccc35%3A0x585840088151c0da!2zMjQwIFBo4buRIFTDom4gTWFpLCBUw6JuIE1haSwgSG_DoG5nIE1haSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1688094231338!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div>
    <h1 class="title">Luôn Sẵn Sàng Chào Đón Bạn</h1>
    <div class="text">Liên hệ ngay <strong>HNT Sport</strong> để có những lời giải đáp, tư vấn thắc mắc của các bạn ^^ </div>
    <ul>
      <li>
        <div>
          <div class="context">Địa chỉ</div>
          <div class="text">240 Tân Mai, Hoàng Mai, Hà Nội</div>
        </div>
      </li>
      <li>
        <div>
          <div class="context">Điện thoại</div>
          <div class="text">(+84) 0356 820 031</div>
        </div>
      </li>
      <li>
        <div>
          <div class="context">Email</div>
          <div class="text">hntsport@gmail.com</div>
        </div>
      </li>
    </ul>
  </div>

</div>
