<form
  *ngIf="!forgotPassword; else forgotPasswordForm"
  class="w-2/5 m-auto mt-10"
  nz-form
  nzNoColon
  nzLayout="vertical"
  [formGroup]="loginForm"
>
  <div class="text-center">
    <h2 class="text-2xl font-sans">Sign In</h2>
    <p class="mt-2 name-card">Don't have an account yet?</p>
    <p class="link" (click)="register()">SIGN UP</p>
  </div>
  <nz-form-item>
    <nz-form-label> EMAIL </nz-form-label>
    <nz-form-control>
      <input type="text" nz-input formControlName="email" placeholder="Email" [(ngModel)]="loginForm.controls['email']"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label> PASSWORD </nz-form-label>
    <nz-form-control>
      <nz-input-group [nzSuffix]="eye">
        <input
          nz-input
          [type]="showPassword ? 'text' : 'password'"
          id=" nzSearch"
          name=" nzSearch"
          placeholder="Password"
          formControlName="password"
          [(ngModel)]="loginForm.controls['password']"
        />
      </nz-input-group>
      <ng-template #eye>
        <span
          nz-icon
          [nzType]="showPassword ? 'eye-invisible' : 'eye'"
          nzTheme="outline"
          class="cursor-pointer"
          (click)="showPassword = !showPassword"
        ></span>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <div>
    <button class="btn-submit p-2" (click)="login()">{{ "Sign in" | uppercase }}</button>
  </div>

  <div class="mt-4 text-center">
    <p class="link" (click)="forgotPassword = true">FORGOT PASSWORD</p>
  </div>
</form>
<ng-template #forgotPasswordForm>
  <div class="text-center">
    <h2 class="text-2xl font-sans">Reset Password</h2>
    <p class="mt-2 name-card mb-3">
      Please enter your email address below. You will receive a <br />link to
      reset your password.
    </p>
  </div>
  <div class="w-2/5 m-auto">
    <label for="email">EMAIL</label>
    <input type="text" nz-input [formControl]="emailForgot" />
    <div class="text-center">
      <button class="btn-submit mt-4 p-2">{{ "SUBMIT" | uppercase }}</button>
      <span class="link mt-3 block" (click)="forgotPassword = false">
        CANCEL</span
      >
    </div>
  </div>
</ng-template>
