<div class="container">
  <h2>Danh sách sản phẩm</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Tên sản phẩm</th>
      <th>Hình ảnh</th>
      <th>Giá</th>
      <th>Số lượng</th>
      <th>Thành tiền</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of listProduct">
      <td>{{ product.name }}</td>
      <td><img [src]="product.image" [alt]="product.name" width="50"></td>
      <td>{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.price * product.quantity }}</td>
      <td>
        <button class="btn btn-sm btn-danger">Xóa</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <a href="/" class="btn btn-sm btn-primary">Tiếp tục mua hàng</a>
    <a href="" class="btn btn-sm btn-danger">Xóa hết giỏ hàng</a>
  </div>
</div>
