<div nz-row nz nzAlign="middle">
  <div class="logo" nz-col nzSpan="6">
    <img  src="/assets/images/logo/HNT_Sport_Logo.png" alt="" srcset="" />
  </div>
  <div nz-col nzSpan="12">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="Search" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <div nz-col nzSpan="6">
    <div class="action">
      <div class="wishlist">
        <span nz-icon nzType="heart" nzTheme="outline" class="mr-2"></span>
        {{ "Wishlist" | uppercase }}
      </div>

      <div class="sign-in" (click)="login()">
        <span nz-icon nzType="user" nzTheme="outline" class="mr-2"></span>
        {{ "Sign in" | uppercase }}
      </div>
      <div class="shopping-card">
        <span
          nz-icon
          nzType="shopping-cart"
          nzTheme="outline"
          class="mr-2"
        ></span>
        MY CART (0)
      </div>
    </div>
  </div>
</div>
